<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# make sure we always display a proper title: The record's title if there is one, appended with the
       sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
    <title>
        {% block headtitle %}
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
            {{ app.config.get('general/sitename') -}}
            {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif -%}
        {% endblock %}
    </title>


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="stylesheet" href="{{ asset('css/app.css', 'theme') }}">

    <!-- Page loading script -->
    <script src="{{ asset('other_plugins/pace/pace.min.js', 'theme') }}"></script>


    {% block headincludes %}
    {% endblock headincludes %}
</head>
<body>

<div class="hiddenLoading">
    {% include('partials/_topbar.twig') %}





    {% block body %}

        <div id="mainContent">
            {% block main %}

            {% endblock %}
        </div>



    {% endblock %}


    {% block extrafooter %}
    {% endblock %}
    {% include('partials/_footer.twig') %}
    {% include('partials/_scripts.twig') %}
    {% block bottomincludes %}
    {% endblock bottomincludes %}

</div>


</body>
</html>
