{% extends 'partials/_master.twig' %}

{% block main %}


    <div id="fpNewsContainer">


        {% setcontent news = 'entry/latest/5' %}
        {% set newsCounter = 1 %}
        <div class="dropdown button expanded secondary" data-open="fpNewsPopup">
            <div id="fpNews" class="clearfix">
                <div class="row">
                    <div class="float-left fpNewsTitle"><i class="newspaper icon"></i>| News</div>

                    {% for newsItem in news %}

                        {% if newsCounter <=3 %}
                            {% if loop.first %}
                                <div class="float-left show-for-medium fpNewsTitle">&nbsp;|&nbsp;</div>
                            {% endif %}
                            <div class="float-left show-for-medium fpNewsTitleItem">{% if not loop.first %}&nbsp;|&nbsp;{% endif %} {{ newsItem.title }}</div>
                        {% endif %}

                        {% set newsCounter=newsCounter+1 %}

                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="reveal full" id="fpNewsPopup" data-reveal>

            <div id="fpCloseNews">
                <button class="alert button" data-close aria-label="Close modal" type="button">
                    Close News
                </button>
            </div>

            {% if news is defined and news|length>0 %}
            {#            {% if (news|length >=4) %}
                            {% set colLength = 3 %}
                        {% else %}
                            {% set colLength = 12 / news|length %}
                        {% endif %}#}

            {% set colLength = 3 %}

            {% set cardCounter = 1 %}



            {% for newsItem in news %}

            {% if cardCounter == 1 %}
            <div class="row">
                {% endif %}


                <div class="column small-12 medium-{{ colLength }}{% if loop.last %} end{% endif %}">
                    <div class="card">
                        <a href="{{ newsItem.link }}">
                            {{ newsItem.image|showimage }}
                            {% if newsItem.title is defined and newsItem.title !='' %}
                                <div class="card-section fpNewsCardTitle">
                                    <div class="fpNewsCardTitle">{{ newsItem.title }}</div>
                                    <div class="fpNewsCardTeaser">{{ newsItem.teaser|excerpt(100) }}</div>
                                </div>
                            {% endif %}
                        </a>
                    </div>
                </div>


                {% if loop.last and cardCounter !=4 %}
            </div>
            {% endif %}

            {% if cardCounter == 4 %}
        </div>
        {% set cardCounter = 1 %}
        {% else %}
            {% set cardCounter = cardCounter + 1 %}
        {% endif %}


        {% endfor %}
        {% endif %}


    </div>

    </div>




    <div id="fpSlickContainer">

        {% setcontent works = 'works/latest/5' where { workscategories: 'highlight'} %}


        {% if works is defined and works|length>0 %}

            <div id="fpSlickDots" class="show-for-medium"></div>

            <div id="fpSlick">

                {% for work in works %}

                    <div class="fpSlickImgContainer">
                        <img src="{{ work.image|image }}">
                        <div class="fpWorkTextContainer">
                            <div class="fpWorkTitle">
                                <h1>{{ work.values.title }}</h1>
                            </div>
                            <div class="fpWorkSub">
                                <h3>{{ work.group.name }}</h3>
                            </div>
                            <div class="fpWorkButton">
                                <h3><a href="{{ work.link }}">See
                                        the {{ work.group.name|slice(0, work.group.name|length-1 ) }}</a></h3>
                            </div>
                        </div>

                    </div>


                {% endfor %}

            </div>

            <div id="fpSlickButton">
                <button class="fpSlickButton" id="fpSlickPrev"><i class="arrow circle outline left icon"></i></button>
                <button class="fpSlickButton" id="fpSlickNext"><i class="arrow circle outline right icon"></i></button>
            </div>

        {% endif %}

    </div>


{% endblock main %}

{% block bottomincludes %}
    <script src="{{ asset('js/index.js', 'theme') }}"></script>
{% endblock %}
