{% extends 'partials/_master.twig' %}

{% block main %}


    <div id="fpNewsContainer">
        <p>Place holder content</p>
    </div>


    <div id="fpOrbitContainer">

        {% setcontent works = 'works/latest/5' %}

        <div class="orbit" aria-label="Favorite Space Pictures" data-orbit>
            <nav class="orbit-bullets">
                {% for i in 0..(works|length-1) %}
                    <button {% if loop.first %}class="is-active"{% endif %} data-slide="{{ i }}"><span
                                class="show-for-sr">First slide details.</span><span
                                class="show-for-sr">Current Slide</span></button>
                {% endfor %}

            </nav>

            <ul class="orbit-container">
                <button class="orbit-previous show-for-medium"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next show-for-medium"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>


                {% for work in works %}


                    <li class="{% if loop.first %}is-active {% endif %}orbit-slide">
                        <div class="fpOrbitImgContainer">
                            <img class="orbit-image" src="{{ work.image|image }}">
                            <div class="fpWorkTextContainer">
                                <div class="fpWorkTitle">
                                    <h1>{{ work.values.title }}</h1>
                                </div>
                                <div class="fpWorkSub">
                                    <h3>{{ work.group.name }}</h3>
                                </div>
                                <div class="fpWorkButton">
                                    <h3><a href="{{ work.link }}">See the {{ work.group.name|slice(0, work.group.name|length-1 ) }}</a></h3>
                                </div>
                            </div>

                        </div>
                    </li>

                {% endfor %}


            </ul>

        </div>

    </div>


{% endblock main %}
